<!-- Author Bio Start -->

<section id="{{ page.section-type }}" class="container content-section text-left">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <img class="col-xs-4 col-sm-3 col-md-2" src="{{site.baseurl}}/img/author_blurb.png" alt="Me" />
   
        <p class="col-xs-8 col-sm-9 col-md-10">
        The author, Jim Kennedy, floats in space and drifts in time. <br> All he wants in life is a little bit of love to take the pain away. <br> Getting strong today; a giant step each day.   
        </p>

    </div>
    </div>
  </section>
  
  <!-- Author Bio End -->
  