
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <body>

              <img src="/img/mm1.png" width="55%">
                            
              </body>

            <h1 class="brand-heading">&nbsp;</h1>

            
            <span class="intro-text">{{ content }}</span>
            
              
            <h5>&nbsp;</h5>

                <P align="center">                
                <a href='http://mananamanana.com/ohpiglet/' class="style14" style= 'text-decoration:none;'>ohpiglet</a> 
                | 
                <a  rel="me" href='https://mastodon.social/@jimkennedy' class="style14" style= 'text-decoration:none;'>mastodon</a>
                |                 
                <a  rel="me" href='https://jimken123.github.io' class="style14" style= 'text-decoration:none;'>github</a>
                </P>
                
                <P align="center">
                <a href='https://jimken123.github.io/twitter/' class="style14" style= 'text-decoration:none;'>twitter</a>
                |                
                <a href='http://www.mananamanana.wordpress.com/' class="style14" style= 'text-decoration: none;'>old_blog</a>
                |                
                <a href='http://www.mananamanana.com/trip_reports.htm' class="style14" style= 'text-decoration:
                none;'>scotland</a>
                |
                <a href='http://mananamanana.com/hprfc/' class="style14" style= 'text-decoration:none;'>hprfc</a>
                </P>            
      
          </div>
        </div>
    </div>
  </div>
</header>
<!-- Intro End -->
