
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include header.html %}
    
    {% include navigation.html %}

    <section id="page" class="container content-section text-center">
      <h2>latesfffft post</h2>
      
    </section>

    {% include latest-post.html %}

    {% include footer.html %}

    {% include js.html %}

  </body>

</html>

<!-- Index Layout End -->
